body {
    font-family: Georgia, 'Times New Roman', Times, serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    line-height: 1;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}
 .about-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;
        }
        .text {
            flex: 1;
            text-align: left;
        }
        .image {
            flex: 1;
            text-align: right;
            width: 30px; 
        }
        img {
            max-width: 90%;
            height: auto;
        }
    </style>

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px; /* Space between the image and text */
}

.headshot {
    width: 200px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    border: 0px solid #35424a; /* Optional: border color to match the header */
    flex-direction: left;
    text-align: left;
}

header h1 {
    margin: 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px 0;
    background: #ffffff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.portfolio-item {
    display: flex;
    align-items: center;
    background: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.portfolio-image {
    width: 100px; /* Adjust as needed */
   
    margin-right: 15px; /* Space between image and text */
}
.portfolio-text {
    flex-grow: 1; /* Allows the text to take the remaining space */
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
}

/*responsive design */
#content {
    width: 50%;
    margin: auto;
  }
  @media (orientation: portrait) 
    #content {
      width: 100%
    }